/* .card {
    border-radius: 20px !important;
}

select, select.form-control, .alert, textarea, textarea.form-control, .form-control, .input-group-text, input, .btn-group-sm>.btn, .btn-sm, .btn {
    border-radius: 12px !important;
}

.navbar {
    border-radius: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, div, input, textarea {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} */